h1,
h2,
h3,
p {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 5px;
  margin: 20px auto;
  max-width: 320px;
}

.cell {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  line-height: 100px;
  background-color: #f2f2f2;
}

.cell:hover {
  background-color: #e0e0e0;
  color: #000;
}

.cell:nth-last-child(-n + 3) {
  border-bottom: 5px solid #ffffff;
}
